* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* main styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  padding: 8px 16px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input:hover,
input:focus {
  border: 1px solid #000;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 86px;
  background: #4e75ff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border: none;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

button:hover,
button:focus {
  background: #6c8cff;
}

/* task-1 */
#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  padding: 24px;
  max-width: 440px;
  background: #ffffff;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  background-color: #f6f6fe;
}

.item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.item ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
}

/* task-2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.gallery li {
  width: 360px;
  height: 300px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* task-3 */

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 16px;
}

/* task-4 */

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
  border-radius: 8px;
  padding: 24px;
  max-width: 408px;
  background-color: #ffffff;
  margin: 0 auto;
}

.login-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.login-form button {
  margin-top: 8px;
}

/* task-5 */

.widget {
  margin: 0 auto;
  border-radius: 8px;
  padding: 100px 88px;
  max-width: 345px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffffff;
}
